<ul class="nav nav-tabs webix-crud-tabs" role="tablist" appdev-crud="tabs">
  <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">FCFActivityManager</a></li>
  <li role="presentation" class="crud1FCFActivity"><a href="#crud1FCFActivity" aria-controls="home" role="tab" data-toggle="tab">FCF Activity data</a></li>
  <li role="presentation" class="crud1FCFActivityImages"><a href="#crud1FCFActivityImages" aria-controls="home" role="tab" data-toggle="tab">FCF Activity Images data</a></li>
</ul>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane" id="crud1FCFActivityImages" ></div>
    <div role="tabpanel" class="tab-pane" id="crud1FCFActivity" ></div>
	<div role="tabpanel" class="tab-pane active" id="home" >Content for FCFActivityManager</div>
</div>